* {
    padding: 0;
    margin: 0;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #3C4F76;
    color: #eeecff;
    padding: 8px;
    font-size: 26px;
}

.body {
    display: flex;
    flex-wrap: wrap;
    background-color: #D1BEB0;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3C4F76;
    color: #eeecff;
    padding: 8px;

}

.drawing-area, .options-area {
    display: flex;
    flex-direction: column;
}

.pixel {
    display: flex;
    box-sizing: border-box;
    padding: 5px;
    border: 1px groove rgb(224, 220, 220);
    aspect-ratio: 1/1;
    flex: 1 0 auto;
    min-width: 10px;
    height: auto;

    
}

.canvas {
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    width: 400px;
    height: 400px;
    background-color: white;
}

.instructions {
    background-color: #D1BEB0;
    padding: 5px;
}

.eraser-btn, .clear-btn, .color-picker-btn {
    background-color: #eeecff;
    padding: 5px;
    border: 2px solid #3C4F76;
    margin: 2px;
    width: 120px;
}

.color-picker-btn {
    padding: 5px 1px;
}
.clicked {
    background-color: #9f9f9f;
}